---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="."
	pubDate={new Date('August 08 2021')}
	heroImage="/srbdron.mp4"
>
	<p>
		Our specialist private client advisors guide hundreds of investors and their families each year on their journeys to acquiring alternative residence and citizenship solutions. The successful advisory practice assists in developing and implementing residence and citizenship by business formation and investment programs to attract talent, entrepreneurs, and foreign direct investment. Furthermore, we offer a a complete process of obtaining residency and/or citizenship. Our exceptional track record is a testament to our extensive experience and expertise as the pioneer and leader of the residence and citizenship advisory sector.
	</p>

</Layout>
